@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
<form action="Store" method="post">
    <div>
        <input name="name" type="text" value="name" />
        <input name="rollnumber" type="text" value="rollnumber" />
    </div>
    <button id="submit">Button</button>
</form>