@model List<Student>
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<div class="alert-success">@TempData["message"]</div>

<ul>
    @foreach (var student in Model)
    {
        <li>
            @student.RollNumber - @student.Name
            <a href="/Student/Edit?id=@student.Id">Edit</a>
            <button class="btnDelete" id="@student.Id">Detele</button>
        </li>
    }
</ul>